.personal {
    border: 1px solid black;
}

.imgUser {
    width: 50px;
    height: 50px;
}

.ringbell {
    width: 50px;
    height: 50px;
    background-color: #ebebeb;
}

.ringbellIcon {
    width: 20px;
    height: 20px;
}

.btnPersonal {
    color: #7550FE;
    border: 1px solid #7550FE;
}

.btnPersonal:hover {
    color: #7550FE;
    border: 1px solid white;
}

.buttonIcon {
    width: 35px;
    height: 35px;
}

li a {
    text-decoration: none;
    color: black;
}

.backgroundJumbotron {
    background-color: #7550FE;
}

.jumboP {
    color:#b1b1b1;
    font-size: 22px;
}

.button1 {
    padding: 13px;
    background-color: #1ACB98;
    font-size: 13px;
    border: none;
}

.button2 {
    padding: 13px;
    background-color: white;
    font-size: 13px;
    border: none;
}

.dimension {
    width: 320px;
}

.h1Personal {
    white-space: nowrap;
    font-size: 26px;
}

.ringbellCamera {
    width: 50px;
    height: 50px;
    background-color: #FFEEDA;
    border-radius: 50%;
}

.ringbellIconCamera {
    width: 20px;
    height: 20px;
    color: #C28131;
}

.nowrappa {
    color: #19113C;
    font-size: 15px;
    white-space: nowrap;
}

span {
    color: #564C78;
    font-size: 13px;
    white-space: nowrap;
}

.mainSection {
    background-color: #F5F4F8;
}

h5 {
    font-size: 13px;
}

.cardDivider {
    background-color: grey;
    width: 100%;
    height: 1px;
    padding: 0;
}

.cardAvatar {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.fsPersonal {
    font-size: 9px;
}

.saving {
    font-size: 12px;
    color: grey;
    position: relative; 
}

/*.saving:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 50%;
    width: 55%;
    transform: translate(45%, 37%);
    background-color: grey;
    z-index: -1;
}

.saving:hover::after {
    z-index: 1;
}*/

.stars {
    color: orange;
    font-size: 9px;
}

.cardsDimension {
    max-width: 185px;
    min-width: 185px;
    
    min-height: 297px;
}

.listFooter a {
    font-size: 12px;
    color: #564C78;
}

.listFooter a:hover {
    font-size: 12px;
    color: black;
}

.bgColorFooter {
    background-color: #F5F4F8;
}

.dnone {
    display: none;
}

.card {
    font-size: 12px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.cardContainer:hover .card {
    opacity: 0.5;
}

.cardContainer:hover .card:hover {
    opacity: 1;
}

#firstIcon {
    transform: translateX(-200%);
    transition: all ease-in-out 1.3s;
    opacity: 0;
}

#secondIcon {
    transform: translateX(-300%);
    transition: all ease-in-out 1s;
    opacity: 0;
}

#thirdIcon {
    transform: translateX(-400%);
    transition: all ease-in-out 0.7s;
    opacity: 0;
}

body:hover #firstIcon {
    transform: translateX(0);
    opacity: 1;
}

body:hover #secondIcon {
    transform: translateX(0);
    opacity: 1;
}

body:hover #thirdIcon {
    transform: translateX(0);
    opacity: 1;
}

body.permanent #firstIcon {
    transform: translateX(0);
    opacity: 1;
}

body.permanent #secondIcon {
    transform: translateX(0);
    opacity: 1;
}

body.permanent #thirdIcon {
    transform: translateX(0);
    opacity: 1;
}

#guy {
    transform: translateX(200%);
    transition: all ease-in-out 0.7s;
    opacity: 0;
}

body.permanent #guy {
    transform: translateX(0);
    opacity: 1;
}